@charset "UTF-8";

*, html, body {
	margin:0;
	padding:0;
	}
... /* mais regras CSS reset */

/* regra para o box-sizing */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/* regra para o clear float */
.cf:before,
.cf:after {content: " ";display: table;}
.cf:after {clear: both;}
.cf {*zoom: 1;}
body {
	margin-left:55px; /* espaço à esquerda para a barra vertical vísivel do menu */
	font:  62.5%/1.2 Verdana, Helvetica, Arial, sans-serif;
	}
	
#lateral {
	padding:0 50px 0 5px;
	-moz-transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
				transition: all 0.5s ease;
	font-size:1.2em;
	background:rgb(44,62,80);
	background-image: -moz-linear-gradient(135deg, rgb(3,8,12), rgb(16,57,79));
     background-image: -webkit-linear-gradient(135deg, rgb(3,8,12), rgb(16,57,79));
      background-image: -o-linear-gradient(135deg, rgb(3,8,12), rgb(16,57,79) );
       background-image: -ms-linear-gradient(135deg, rgb(3,8,12), rgb(16,57,79));
        background-image: linear-gradient(135deg, rgb(3,8,12), rgb(16,57,79));
	height:100%;
	overflow:hidden;
	width:250px; 
	position:fixed;
	top:0;
	left:-220px;
	}
#lateral:before {
	z-index:1000;
	content: url(../_imagens/menu.png);
	font-size:4em;
	color:white;
	position:fixed;
	left:18px;
	top:15px;
	}
#lateral:hover:before, #lateral:focus:before {
left:-500px;
	}
#lateral:hover, #lateral:focus,  #lateral:active  {
	overflow-y:scroll;
	-moz-transform: translate(220px, 0);
		-webkit-transform: translate(220px, 0);
			-o-transform: translate(220px, 0);
				transform: translate(220px, 0);
	padding-right: 0;
	}	

#lateral .box {
	list-style-type:none;
	margin-bottom:.6em;
	padding-bottom:.6em;
	}
#lateral h3 {
	display:inline-block;
	font-weight:bold;
	font-size:1.4em;
	font-style:normal;
	padding-bottom:0.2em;
	margin: .2em 0 .2em 0.81em;
	color:rgb(255,255,255);
	border-bottom: 4px solid rgb(155,155,155);
	}
#menu {
	font-style:italic;
	position:relative;
	font-size:1.0em;
	margin:1em 0 1em -1em;
	padding:0;
	
	}
#menu li {padding:0; margin:0;}
#menu li a,  #menu li a:link {
	font-size:1.2em;
	color:rgb(255,255,255);
	text-decoration: none;
	padding: 0.8em 0 0.8em 1em;
	display: block;
	-moz-transition: all 1.2s ease;
			-webkit-transition: all 1.2s ease;
				-o-transition: all 1.2s ease;
					transition: all 1.2s ease;
	}
#menu li a:hover {
	color:rgb(255,255,255);
	background-color:rgba(255,255,255,0.2);
	-moz-transition: all 0.5s ease;
			-webkit-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
					transition: all 0.5s ease;
	}


@media (max-width: 700px) {
body {margin-left:0;background-size:100% 28em!important;}
#lateral {
	padding:0;
	-moz-transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
				transition: all 0.5s ease;
	font-size:1.2em;
	height:100%;
	overflow:auto;
	width:100%; 
	position:static;
	top:0;
	left:0;
	}
#lateral:before {
	z-index:1000;
	width:0;
	text-align:center;
	content: "";
	font-size:0;
	color:white;
	position:static;
	top:0;
	left:0;
	display:inline-block; 
	}
#lateral:hover, #lateral:focus {
	overflow:scroll;
	-moz-transform: none;
		-webkit-transform: none;
			-o-transform:none;
				transform:none;
	}
#menu li a {border-bottom:1px solid #ccc;}
#menu li:first-child a {border-top:1px solid #ccc;}	
}
/************************************fim do menu lateral*****************************************************/

div#bemvindo {
	width: 100%;
	background-color: #B0C4DE;
	padding-left: 200px;
}

div#formulario {
	position: relative;
	float: left;
	margin-top: 20px;
	margin-left: 200px;
}

h1 {
	width: 700px;
	border-bottom: 1px solid;
	margin-bottom: 40px;
	color: #708090;
}

input#botao {
	padding: 10px 5px 5px 40px;
	background-image: url("../_imagens/cadastrar.jpg");
	background-repeat: no-repeat;
}

input#botao:hover, img#excluir:hover{
	box-shadow: 0em .1em 0.2em .2em rgba(0,0,0,.5);	
}

input:hover, select:hover{
	box-shadow: 0em .1em 0.2em .2em rgba(0,0,0,.5);	
}


input#botaoprocurar {
	padding: 10px 5px 5px 40px;
	background-image: url("../_imagens/btn_procurar.png");
	background-repeat: no-repeat;
}

input#botaoprocurar:hover, img#excluir:hover{
	box-shadow: 0em .1em 0.2em .2em rgba(0,0,0,.5);	
}

img#excluir {
	padding-right: .6em;
}

input {
	font-size: 15px;
	text-transform: uppercase;
	border-radius: 5px;
}

select {
	border-radius: 5px;
}



div#select {
	position: relative;
	float: left;
	margin-top: -10px;
	margin-left: 200px;
}

h1#submenu {
	margin-top: 30px;
}

h2 {
	font-size: 1.2em;
}


/*Tabela Categoria*/
table.bordasimples {
	border-collapse: collapse;
	font-size: 1.2em;
	color: rgba(0,0,0, .9) ;
	margin: .6em auto .6em auto;
    position: relative;
	float: left;
	}
	
td#titulotabela {
	padding-bottom: .6em;
}

td#titulotabela {
	width: 350px;
	border: ridge;
	text-align: center;
}	

td#vazio {
	width: 40px;
	}

td#estq {
	width: 120px;
	border: ridge;
	}
	
td#img {
	text-align: right;
}	

td#centro {
	border: ridge;
	text-align: center;
}

td#esquerda {
	border: ridge;
	text-align: left;
}

td#seq {
	border: ridge;
	text-align: center;
	width: 50px;
}
	

select {
	width: 260px;
	font-size: 1.8em;
}

select#equipamento {
	width: 630px;
	font-size: 1.8em;
}

select#buscarequipamento {
	width: 630px;
	font-size: 1.8em;
}

form {
	margin-top: -10px;
}


h3 {
	font-size: 1.4em;
	font-weight: bold;
}



form#cadpessoa select{
	font-size: 1.2em;
}



form#cadpessoa input{
	font-size: 1.2em;
}




.pequeno {
	width: 80px;
}

.pequenonro {
	width: 60px;
	text-align: center;
}

.pequenoestado {
	width: 40px;
	text-align: center;

}

.medio {
	width: 200px;
}

.mediocpf {
	width: 200px;

}

.mediobairro {
	width: 400px;
}

.mediocomp {
	width: 180px;
	
}

.mediocep {
	width: 100px;
}

.mediobuscacpf {
	width: 140px;
}

.grande {
	width: 500px;
}

.buscanome {
	width: 300px;
}
.grandeend {
	width: 530px;
}

.grandecidade {
	width: 400px;
}

.pequenoseqpessoa {
	width: 60px;
}	

.focusbuscanome{
	box-shadow: 0em .1em 0.2em .2em rgba(0,0,0,.5);	
	width: 300px;
}

